<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://kit.fontawesome.com/6cbdf73c90.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="main">
    <div id="content">
      <header id="header">
        <button><i class="fa-solid fa-arrow-left"></i></button>
        <button id="menu"><i class="fa-solid fa-ellipsis-vertical"></i></button>
      </header>
      <img id="profile-pic">
      <div id="menu-con">
        <button id="update">수정</button>
        <button id="delete">삭제</button>
      </div>
      <section>
        <div>
          <div>이름</div>
          <h2 id="profile-name"></h2>
        </div>
        <div>
          <div>그룹</div>
          <h2 id="profile-group"></h2>
        </div>
        <div>
          <div>전화번호</div>
          <p id="profile-phone"></p>
        </div>
        <div>
          <div>이메일</div>
          <p id="profile-email"></p>
        </div>
      </section>
      <footer></footer>
    </div>
  </div>
</body>
</html>