<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>연락처 수정</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="edit.css">
</head>
<body>
  <div id="main">
    <div id="content">
      <nav id="title">
        <i id="back" class="fa-solid fa-arrow-left fa"></i>
        <span>연락처 수정</span>
        <span></span>
      </nav>
      <div id="app">
        <div class="profile">
          <img id="profile-pic" src="../images/default.jpg" alt="profile">
        </div>
        <div class="write"><b>이름</b><input type="text" id="name"></div>
        <div class="write"><b>그룹</b><input type="text" id="group"></div>
        <div class="write"><b>전화번호</b><input type="text" id="phone"></div>
       <div class="write"><b>이메일</b><input type="text" id="email"></div>
        <div class="button-group">
          <input type="button" value="취소" class="btn" id="cancel">
          <input type="button" value="저장" class="btn" id="save">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
