@import "~bootstrap/scss/bootstrap";

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast.custom-slide {
  animation: slide-up 0.2s ease-out;
}